.post-card {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: solid 3px black;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(170, 180, 192);
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-date {
  align-self: center;
  font-style: italic;
  font-size: 0.8rem;
}

.card-author {
  font-size: 1.2rem;
}

.card-content {
  margin-top: 20px;
}

.comment,
.edit {
  height: 35px;
  width: auto;
}

.more-info {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
}

.card-options {
  align-self: flex-end;
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.post-link {
  margin-top: auto;
  align-self: flex-end;
  text-decoration: none;
  color: inherit;
}