.post-card {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: solid 3px black;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(170, 180, 192);
  transition: height 0.5s, width 0.5s, border 0.5s;
}

.post-card:hover {
  height: 350px;
  width: 350px;
  border: solid 2px rgb(221, 210, 167);
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-date {
  align-self: center;
  font-style: italic;
  font-size: 0.8rem;
}

.card-author {
  font-size: 1.2rem;
}

.card-content {
  margin-top: 20px;
}

.comment {
  height: 35px;
  width: auto;
}

.comment:hover {
  filter: invert(88%) sepia(29%) saturate(230%) hue-rotate(8deg) brightness(99%) contrast(93%);
}

.more-info {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
}

.post-link {
  margin-top: auto;
  align-self: flex-end;
  text-decoration: none;
  color: inherit;
}