.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: rgb(64, 70, 77);
  color: rgb(238, 228, 187);
  flex-shrink: 0;
}

.github {
  height: 30px;
  filter: invert(89%) sepia(16%) saturate(444%) hue-rotate(5deg) brightness(104%) contrast(87%);
}

.personal-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  margin: 0 10px 0 10px;
  gap: 5px;
}

.personal-link:hover {
  color: #fff;
}

.personal-link:hover .github {
  filter: invert(100%) sepia(0%) saturate(24%) hue-rotate(312deg) brightness(105%) contrast(105%);
}